@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";

/* 1. Importamos la fuente globalmente aquí, NO en el componente React. 
*/

/* 2. Configuración de Tailwind v4. 
  Aquí definimos tu Design System para usar clases como 'bg-brand-primary' 
*/
@theme {
  --color-brand-primary: #07A996;
  --color-brand-primary-hover: #068F7F;
  --color-brand-light: #E7F2F1;
  --color-brand-dark: #040707;
  --color-brand-gray: #5B5B5B;
  
  --font-sans: 'Albert Sans', ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #FFFFFF;
  color: var(--color-brand-dark);
  -webkit-font-smoothing: antialiased;
}